//colors
$cool-grey-two: #a1a4ad;
$dark-sky-blue: #4a77e5;
$dark-blue-grey: #1f2a4b;
$dark-blue-grey-opac: rgba(31, 42, 75, 0.59);
$grey: #f6f7f8;
$cool-grey: #9ea3b2;
$white: #e1e1e1;
$grey-two: #bfbfbf;
