@import 'styles/utility';

.container {
    background-color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .logout {
        background-color: transparent;
        border-style: none;
        position: absolute;
        right: size(20);
        top: size(10);

        @include label;
    }
}
