@import 'styles/utility';

.subTitle {
    color: $cool-grey-two;
    margin-top: spacing(1);
    @include label;
}

.name {
    margin-top: spacing(8);
}

.email {
    margin-top: spacing(6);
}

.password {
    margin-top: spacing(6);
}

.linkContainer {
    margin-top: spacing(4);
    .link {
        text-decoration: underline;
        color: $dark-blue-grey;

        @include label-small;
    }
}

.button {
    margin-top: spacing(10);
}
